<div class="row">
  <div class="col-12">
    <form (ngSubmit)="ingredientForm()" #f="ngForm"> 
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="name" name="name" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="Amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[+]?[1-9]\d*\.?[0]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success mr-2" [disabled]="!f.valid">{{!toBeadded ? "add": "update"}}</button>
          <button type="button" class="btn btn-danger mr-2" (click)="onClickDelete()" *ngIf= "toBeadded">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClickClear()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
